*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal{
width: 90%;
max-width: 1200px;
height: 90%;
max-height: 800vh;
margin: 20px auto;
background-color: rgb(10 63 104);
}
body{
 background-color:  #02081d;
}
main .contenedor h1{
text-align: center;
color:bisque;
font-size: 3rem;
margin-bottom: 30px;
}

main .section_1 .contenedor_2 .subcont{
background-color: rgb(2, 28, 48);
display: inline-block;
margin: 6px;
border-radius: 12px;
text-align: center;
font-size: 1rem;
box-shadow: rgba(3, 19, 78, 0.466);
}
main .section_2 .contenedor_2 .subcont{
background-color: rgb(2, 28, 48);
display: inline-block;
margin: 6px;
border-radius: 12px;
text-align: center;
font-size: 1rem;
box-shadow: rgba(3, 19, 78, 0.466);
}









